<%= render(DisplayCardComponent.new(width: :lg)) do %>
  <div class="card-header">DETAILS</div>
  <ul class="list-unstyled text-center">
      <li>
        Cube: <%= render(ButtonComponent.new(url: cube_path(cube), variation: :link)) { cube.name } %>
      </li>
      <li>
        Number of rounds: <%= draft.rounds %>
      </li>
      <li>
        Allow trades: <%= draft.transfers_allowed %>
      </li>
      <li>
        Pick timer in minutes: <%= draft.timer_minutes %>
      </li>
  </ul>
<% end %>
