<%= render(DisplayCardComponent.new(width: :xl)) do %>
  <div class="card-header fw-bold">CHAT</div>
  <div class="form-group">
    <%= form_with(model: DraftChatMessage.new, remote: true, class: "d-flex flex-column", data: { controller: :chat, action: "turbo:submit-end->chat#clear" } ) do |f| %>
      <%= f.hidden_field :draft_id, value: draft.id %>
      <%= f.text_field :text, class: "form-control", autocomplete: 'off' %>

      <%= render(ButtonComponent.new(variation: :primary, classes: "mb-2 mt-2")) { "Send" } %>
    <% end %>
  </div>
  <div class="d-flex flex-column bg-white overflow-auto chat_box">
    <%= helpers.turbo_stream_from "draft_chat_messages" %>
    <div id="draft_chat_messages">
      <%= render draft_chat_messages %>
    </div>
  </div>
<% end %>