<%= render(DisplayCardComponent.new(width: :xl, classes: "mb-2")) do %>
	<div class="card-header">Pending Transfers</div>
	<div>
		<% @accepted_transfers.each do |accepted_transfer| %>
			<%= render(TransferPortalTransactionComponent.new(transfer_portal_transaction: accepted_transfer)) %>
		<% end %>
	</div>
<% end %>

<%= render(DisplayCardComponent.new(width: :xl, classes: "mb-2")) do %>
	<div class="card-header">Completed Transfers</div>
	<div>
		<% @completed_transfers.each do |completed_transfer| %>
			<%= render(TransferPortalTransactionComponent.new(transfer_portal_transaction: completed_transfer)) %>
		<% end %>
	</div>
<% end %>

<%= render(DisplayCardComponent.new(width: :xl, classes: "mb-2")) do %>
	<div class="card-header">Canceled Transfers</div>
	<div>
		<% @canceled_transfers.each do |canceled_transfer| %>
			<%= render(TransferPortalTransactionComponent.new(transfer_portal_transaction: canceled_transfer)) %>
		<% end %>
	</div>
<% end %>