<%= render(DisplayCardComponent.new(width: :lg)) do %>
  <div class="card-header">DRAFT PARTICIPANT SETTINGS</div>
  <%= form_with(model: @draft_participant) do |f| %>
    <div class="container col-sm-2">
      <%= f.label :card_text do %>
        <div class="fw-bold text-center">
          Name
        </div>
      <% end %>
      <%= f.text_field :display_name, value: @draft_participant.display_name, class: "d-block w-100 mb-1" %>
      <%= render(ButtonComponent.new(classes: "mb-1")) {"Update"} %>
    </div>
  <% end %>
  <div class="container">
    <%= render(ButtonComponent.new(url: new_surrogate_draft_participant_path(draft_participant_id: @draft_participant.id), variation: :primary, data: { turbo_frame: "modal" })) { "Add Surrogate" } %>
  </div>
  <%= button_to("Back", draft_path(@draft_participant.draft), method: :get, class: "btn btn-warning mt-2") %>
<% end %>