<%= turbo_frame_tag "modal" do %>
  <div class="modal d-block" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <%= render(ButtonComponent.new(classes: "ms-auto", variation: :close, data: { controller: "modal", action: "modal#close"})) %>
        <div class="text-center"><%= @cube_card.name %></div>
        <%= form_with(model: @cube_card, local: true) do |f| %>
          <div class="pt-3 row justify-content-center">
            <div class="col-6 text-start d-grid gap-2">
              <div>
                <%= f.label :custom_color_identity, "Color Identity", class: "fw-bold" %>
                <%= f.select :custom_color_identity, Card::ColorIdentity::COLOR_IDENTITIES.invert, {}, { multiple: true, class: "form-control" } %>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <%= render(ButtonComponent.new(variation: :primary, classes: "col-2 mt-2", data: { turbo: false })) { "Update" } %>
          </div>
        <% end %>
        <%= form_with(url: cube_card_path(@cube_card), method: :delete) do |f| %>
          <div class="row justify-content-center">
            <%= render(ButtonComponent.new(variation: :danger, classes: "col-2 mt-2 mb-2", data: { turbo: false })) { "Delete" } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
