<%= render(DisplayCardComponent.new(width: :md)) do %>
  <div class="card-header">UPDATE <%= @cube_card.name.upcase %></div>
  <%= form_with(model: @cube_card, local: true) do |f| %>
    <div class="pt-3 row justify-content-center">
      <div class="col-6 text-start d-grid gap-2">
        <div>
          <%= f.label :custom_color_identity, "Color Identity", class: "fw-bold" %>
          <%= f.select :custom_color_identity, Card::ColorIdentity::COLOR_IDENTITIES.invert, {}, { multiple: true, class: "form-control" } %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-2">
        <%= render(ButtonComponent.new(variation: :primary)) { "Update" } %>
      </div>
    </div>
  <% end %>
  <%= button_to("Delete", cube_card_path(@cube_card), method: :delete, class: "btn btn-danger mt-2") %>
  <%= button_to("Cancel", cube_path(@cube_card.cube), method: :get, class: "btn btn-warning mt-2") %>

<% end %> 