<%= turbo_frame_tag "modal" do %>
  <div class="modal d-block" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <%= render(ButtonComponent.new(classes: "ms-auto", variation: :close, data: { controller: "modal", action: "modal#close"})) %>
        <div class="text-center">ARE YOU SURE?</div>
        <% if @draft_participant.user != current_user %>
          <div class="text-center text-danger">Picking for <%= @draft_participant.display_name %></div>
        <% end %>
        <div class="pt-3 row justify-content-center">
          <%= image_tag(@cube_card.image_url, class: "cube_card__img__static") %>
          <%= render(ScryfallLinkComponent.new(card: @cube_card.card)) %>
        </div>
        <%= form_with(model: ParticipantPick.new, id: "pick_form") do |f| %>
          <%= f.hidden_field :draft_participant_id, value: @draft_participant.id %>
          <%= f.hidden_field :cube_card_id, value: @cube_card.id %>
          <div class="row justify-content-center">
            <%= render(ButtonComponent.new(variation: :primary, classes: "mb-2 mt-2 col-2", data: { turbo: false })) { "Pick" } %>
          </div>
        <% end %>
        <% if @draft_participant.user != current_user %>
          <%= form_with(model: QueuedPick.new, id: "add_to_queue_form") do |f| %>
            <% surrogate_participant = DraftParticipant.find_by(user: current_user, draft: @draft_participant.draft) %>
            <%= f.hidden_field :draft_participant_id, value: surrogate_participant.id %>
            <%= f.hidden_field :cube_card_id, value: @cube_card.id %>
            <%= f.hidden_field :priority_number, value: (surrogate_participant.queued_picks.maximum(:priority_number) || 0) + 1 %>
            <div class="row justify-content-center">
              <%= render(ButtonComponent.new(variation: :primary, classes: "mb-2 mt-2 col-4", disabled: surrogate_participant.queued_picks.any? { |qp| qp.cube_card_id == @cube_card.id })) { "Add to Queue" } %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>