<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row">
      <% if user_signed_in? %>
        <div class="nav-item">
            <%= render(ButtonComponent.new(url: drafts_path, classes: "nav-link", data: { turbo_method: :get })) { "Drafts" } %>
        </div>
        <div class="nav-item">
            <%= render(ButtonComponent.new(url: cubes_path, classes: "nav-link", data: { turbo_method: :get })) { "Cubes" } %>
        </div>
        <div class="nav-item ms-auto">
            <%= render(ButtonComponent.new(url: destroy_user_session_path, classes: "nav-link", data: { turbo_method: :delete })) { "Log out" } %>
        </div>
      <% else %>
        <div class="nav-item">
            <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
        </div>
        <div class="nav-item">
            <%= link_to 'Register', new_user_registration_path, class: 'nav-link' %>
        </div>
      <% end %> 
    </div>
  </div>
</nav>
