<%= render(DisplayCardComponent.new(width: :md)) do %>
  <div class="card-header">NEW DRAFT</div>
  <%= form_with(model: Draft.new, local: true) do |f| %>
    <div class="pt-3 row justify-content-center">
      <div class="col-6 text-start d-grid gap-2">
        <div class="col-12">
          <%= f.label :name, "Draft Name", class: "fw-bold" %>
          <%= f.text_field :name, class: "d-block" %>
        </div>
        <div class="col-12">
          <%= f.label :rounds, "Number of Rounds", class: "fw-bold" %>
          <%= f.text_field :rounds, class: "d-block" %>
        </div>
        <div class="col-12">
          <%= f.label :timer_minutes, "Pick Timer in Minutes", class: "fw-bold" %>
          <%= f.number_field :timer_minutes, class: "d-block" %>
        </div>
        <div class="col-12">
          <%= f.check_box :transfers_allowed, checked_value: true, unchecked_value:false %>
          <%= f.label :transfers_allowed do %>
            <div class="fw-bold text-center">
              Allow Trades
            </div>
          <% end %>
        </div>
        <div class="col-12">
          <%= f.label :cube_id, "Cube", class: "fw-bold" %>
          <%= f.collection_select :cube_id, Cube.where(owner: current_user).order(:name), :id, :name, {}, {class: "d-block"} %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%= render(ButtonComponent.new(variation: :primary, classes: "mb-2 mt-2")) { "Create" } %>
      </div>
    </div>
  <% end %>
<% end %>
